.nav-item-container {
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item-container:hover {
  cursor: pointer;
}

.contents {
  text-decoration: none;
  position: absolute;
  display: flex;
  width: 10rem;
  padding: 5px 0 5px 10px;
  flex-direction: column;
  background-color: #212b3d;
  top: 3rem; /* navigation bar height */
  left: -15px;
}

.content {
  text-decoration: none;
  color: white;
  margin-bottom: 7px;
}

.content:hover {
  opacity: 0.7;
}
