.nav-bar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  column-gap: 24rem;
  background-color: #1c2330;
}

.nav-bar__items {
  width: 13%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.contact {
  width: 11%;
  display: flex;
  justify-content: space-between;
}

.actions {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.action-item {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  height: 100%;
}

.action-svg-item {
  height: 25px;
  margin: auto;
}
