.nav-item {
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-item p {
  width: 100%;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: color 150ms ease-in-out;
}

.nav-item p:hover,
.nav-item p:active {
  color: #8892a5;
}
