.nav-item {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  row-gap: 5px;
}

.nav-item__label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  margin: auto;
  transition: color 100ms linear;
}

.svg-icon {
  position: relative;
  width: 100%;
  fill: white;
  transition: fill 100ms linear;
}

.nav-item:hover > .nav-item__label {
  opacity: 0.7;
}

.nav-item:hover > .svg-icon {
  opacity: 0.7;
}

.active {
  opacity: 0.7;
}
